<div *ngIf="!!theme; else loadingIndicator" class="theme-content">
    <!-- theme-title  -->
    <div class="theme-title">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <h2>{{theme.themeName}}</h2>
                <p>Date: <time> {{theme.created_at | date:'short'}}</time></p>
            </div>
        </div>
    </div>
    <!-- comment  -->
    <div class="comment" *ngFor="let comment of theme.posts">
        <header class="header">
            <p style="text-align: right;">Author: <span>{{comment.userId.username}}</span></p>
        </header>
        <div class="comment-main">
            <div class="post-content">
                <p>{{comment.text}}</p>
            </div>
        </div>
        
    </div>

</div>

<ng-template #loadingIndicator>
    Loading...
</ng-template>